@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-shafer-pink: #E28C97;
  --color-shafer-red: #E34F41;
  --color-shafer-green: #35D04C;
  --color-shafer-grey: #939393;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f9fafb;
}

/* Leaflet map container fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
